---
version: "3.9"
## SET GLOBAL HEADER FOR COMPOSER
services:
  cloudflared:
    image: "cloudflare/cloudflared:latest"
    hostname: "cloudflared"
    container_name: "cloudflared"
    command: "tunnel --no-autoupdate run --token ${CLOUDFLARED_UUID}"
    networks:
      - ${DOCKERNETWORK}
    environment:
      - "PGID=${ID}"
      - "PUID=${ID}"
      - "TZ=${TZ}"
    volumes:
      - "${APPFOLDER}/cloudflared:/home/nonroot/.cloudflared:rw"
    restart: always
networks:
  proxy:
    driver: bridge
    external: true

